[Unit]
Description=TTY Keybind Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/skeybindd -f /dev/input/eventX

[Install]
WantedBy=default.target
