[Unit]
Description=TTY Keybind Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/skeybindd -f <YOUR KEYBOARD>

[Install]
WantedBy=default.target
